extends ../layouts/login.jade

block boxContent
  div(id='forgot-box', class='forgot-box visible widget-box no-border')
    div(class='widget-body')
      div(class='widget-main')
        h4(class='header green lighter bigger')
          i(class='ace-icon fa fa-key green')
          | Reset Password
        div(class='space-6')
        p Enter your email to receive instructions
        
        if messages.info
          div(class='alert alert-info')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; !{messages.info}
        
        if messages.error
          div(class='alert alert-danger')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; !{messages.error}
            
        if messages.success
          div(class='alert alert-success')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; #{messages.success}
              
        form(method='POST', action='/auth/forgot-password')
          fieldset
            input(type='hidden', name='_csrf', value=csrftoken)
            label(class='block clearfix')
              span(class='block input-icon input-icon-right')
                input(type='email', class='form-control', placeholder='Email', name='email', value= messages.email ? messages.email : '', autofocus)
                i(class='ace-icon fa fa-envelope')
                  
            div(class='clearfix')
              
              button(type='submit', class='width-70 pull-right btn btn-sm btn-danger')
                i(class='ace-icon fa fa-lightbulb-o')
                span(class='bigger-110') Send Password Reset Link
            //- div(class='space-4')
      div(class='toolbar center')
        a(href='/auth/login', data-target='#login-box', class='back-to-login-link')
          i(class='ace-icon fa fa-key')
          | &nbsp;Login
      
append scripts
  script(type='text/javascript')
    | window.jQuery || document.write("<script src='/assets/js/jquery.js'>"+"<"+"/script>");
  script.
    $(document).ready(function() {
      $('form').submit(function(event) {
        $('button i').removeClass('fa-key').addClass('fa-spinner fa-spin');
      });
    });
