extends ../layouts/login.jade

block boxContent
  div(id='forgot-box', class='forgot-box visible widget-box no-border')
    div(class='widget-body')
      div(class='widget-main')
        h4(class='header blue lighter bigger')
          i(class='ace-icon fa fa-cogs green')
          | Reset Password.
        div(class='space-6')
        p Enter you new password and confirmation.
        
        if messages.info
          div(class='alert alert-info')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; !{messages.info}
        
        if messages.error
          div(class='alert alert-danger')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; !{messages.error}
            
        if messages.success
          div(class='alert alert-success')
            i(class='ace-icon fa fa-comments-o')
            span &nbsp; !{messages.success}
            
        form(method='POST')
          fieldset
            input(type='hidden', name='_csrf', value=csrftoken)
            label(class='block clearfix')
              span(class='block input-icon input-icon-right')
                input(type='password', class='form-control', placeholder='Password', name='password')
                i(class='ace-icon fa fa-lock')
            label(class='block clearfix')
              span(class='block input-icon input-icon-right')
                input(type='password', class='form-control', placeholder='Confirm Password', name='confirmation')
                i(class='ace-icon fa fa-retweet')
            div(class='space')
              
            div(class='clearfix')
              button(type='submit', class='width-50 pull-right btn btn-sm btn-success')
                i(class='ace-icon fa fa-lightbulb-o')
                span(class='bigger-110') Update Password
            div(class='space-4')
append scripts
  script(type='text/javascript')
    | window.jQuery || document.write("<script src='/assets/js/jquery.js'>"+"<"+"/script>");
  script.
    $(document).ready(function() {
      $('form').submit(function(event) {
        $('button i').removeClass('fa-key').addClass('fa-spinner fa-spin');
      });
    });
