button.pull-left.navbar-toggle.collapsed(data-target='#sidebar2', data-toggle='collapse', type='button')
  span.sr-only Toggle sidebar
  i.ace-icon.fa.fa-dashboard.white.bigger-125
#sidebar2.sidebar.h-sidebar.navbar-collapse.collapse
  ul.nav.nav-list
    li.hover
      a(href='#')
        i.menu-icon.fa.fa-tachometer
        span.menu-text  Dashboard 
      b.arrow
    li.hover
      a(href='#')
        i.menu-icon.fa.fa-list-alt
        span.menu-text Widgets
      b.arrow
    li.hover
      a(href='#')
        i.menu-icon.fa.fa-calendar
        span.menu-text
          | Calendar
          span.badge.badge-transparent.tooltip-error(title='', data-original-title='2 Important Events')
            i.ace-icon.fa.fa-exclamation-triangle.red.bigger-130
      b.arrow
    li.hover
      a(href='#')
        i.menu-icon.fa.fa-picture-o
        span.menu-text  Galleryjk
      b.arrow
    li.hover
      a.dropdown-toggle(href='#')
        i.menu-icon.fa.fa-tag
        span.menu-text  More Pages 
        b.arrow.fa.fa-angle-down
      b.arrow
      ul.submenu
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |User Profile
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Inbox
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Pricing Tables
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Invoice
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Timeline
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Email Templates
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Login &amp; Register
          b.arrow
    li.hover
      a.dropdown-toggle(href='#')
        i.menu-icon.fa.fa-file-o
        span.menu-text
          | Other Pages
          span.badge.badge-primary 5
        b.arrow.fa.fa-angle-down
      b.arrow
      ul.submenu
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |FAQ
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Error 404
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Error 500
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Grid
          b.arrow
        li.hover
          a(href='#')
            i.menu-icon.fa.fa-caret-right
            |Blank Page
          b.arrow
  // /.nav-list
// .sidebar
