button.pull-left.navbar-toggle.collapsed(data-target='#sidebar2', data-toggle='collapse', type='button')
  span.sr-only Toggle sidebar
  i.ace-icon.fa.fa-dashboard.white.bigger-125
#sidebar2.sidebar.h-sidebar.navbar-collapse.collapse
  ul.nav.nav-list
    li.hover
      a(href='/dashboard')
        i.menu-icon.fa.fa-tachometer
        span.menu-text  Dashboard 
      b.arrow
    
    
