extends ./layouts/default
append pagespecificstyles
  link(rel='stylesheet', href='/assets/css/jquery-ui.custom.css')
  link(rel='stylesheet', href='/assets/css/fullcalendar.css')
block settings
block sidebar
block topbar
  include ./partials/dashboard-topbar
append scripts
  //- page specific scripts
  script(src='/assets/js/jquery-ui.custom.js')
  script(src='/assets/js/jquery.ui.touch-punch.js')
  script(src='/assets/js/date-time/moment.js')
  script(src='/assets/js/fullcalendar.js')
  script(src='/assets/js/bootbox.js')
  script(src='/javascripts/calendar.js')
block content
  .row
    .col-sm-9
      .space
      #calendar
    .col-sm-3
      .widget-box.transparent
        .widget-header
          h4 Drag, drop, edit and save.&nbsp;
        
        .widget-body
          .widget-main.no-padding
            #external-events
              .external-event.label-grey(data-class='label-grey')
                i.ace-icon.fa.fa-arrows
                |My Event 1
              .external-event.label-success(data-class='label-success')
                i.ace-icon.fa.fa-arrows
                |My Event 2
              .external-event.label-danger(data-class='label-danger')
                i.ace-icon.fa.fa-arrows
                |My Event 3
              .external-event.label-purple(data-class='label-purple')
                i.ace-icon.fa.fa-arrows
                |My Event 4
              .external-event.label-yellow(data-class='label-yellow')
                i.ace-icon.fa.fa-arrows
                |My Event 5
              .external-event.label-pink(data-class='label-pink')
                i.ace-icon.fa.fa-arrows
                |My Event 6
              .external-event.label-info(data-class='label-info')
                i.ace-icon.fa.fa-arrows
                |My Event 7
            
