extends ./layouts/default
append pagespecificstyles
  //- page specific styles
//- block doctors
block sidebar
block topbar
  include ./partials/dashboard-topbar
append scripts
  //- page specific scripts
  script(src='/assets/js/bootstrap-tag.js')
  script(src='/assets/js/jquery.hotkeys.js')
  script(src='/assets/js/bootstrap-wysiwyg.js')
  script(type='text/javascript').
    jQuery(function($){
    
      //handling tabs and loading/displaying relevant messages and forms
      //not needed if using the alternative view, as described in docs
      $('#inbox-tabs a[data-toggle="tab"]').on('show.bs.tab', function (e) {
        var currentTab = $(e.target).data('target');
        if(currentTab == 'write') {
          Inbox.show_form();
        }
        else if(currentTab == 'inbox') {
          Inbox.show_list();
        }
      })
    
    
      
      //basic initializations
      $('.message-list .message-item input[type=checkbox]').removeAttr('checked');
      $('.message-list').on('click', '.message-item input[type=checkbox]' , function() {
        $(this).closest('.message-item').toggleClass('selected');
        if(this.checked) Inbox.display_bar(1);//display action toolbar when a message is selected
        else {
          Inbox.display_bar($('.message-list input[type=checkbox]:checked').length);
          //determine number of selected messages and display/hide action toolbar accordingly
        }		
      });
    
    
      //check/uncheck all messages
      $('#id-toggle-all').removeAttr('checked').on('click', function(){
        if(this.checked) {
          Inbox.select_all();
        } else Inbox.select_none();
      });
      
      //select all
      $('#id-select-message-all').on('click', function(e) {
        e.preventDefault();
        Inbox.select_all();
      });
      
      //select none
      $('#id-select-message-none').on('click', function(e) {
        e.preventDefault();
        Inbox.select_none();
      });
      
      //select read
      $('#id-select-message-read').on('click', function(e) {
        e.preventDefault();
        Inbox.select_read();
      });
    
      //select unread
      $('#id-select-message-unread').on('click', function(e) {
        e.preventDefault();
        Inbox.select_unread();
      });
    
      /////////
    
      //display first message in a new area
      $('.message-list .message-item:eq(0) .text').on('click', function() {
        //show the loading icon
        $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
        
        $('.message-inline-open').removeClass('message-inline-open').find('.message-content').remove();
    
        var message_list = $(this).closest('.message-list');
    
        $('#inbox-tabs a[href="#inbox"]').parent().removeClass('active');
        //some waiting
        setTimeout(function() {
    
          //hide everything that is after .message-list (which is either .message-content or .message-form)
          message_list.next().addClass('hide');
          $('.message-container').find('.message-loading-overlay').remove();
    
          //close and remove the inline opened message if any!
    
          //hide all navbars
          $('.message-navbar').addClass('hide');
          //now show the navbar for single message item
          $('#id-message-item-navbar').removeClass('hide');
    
          //hide all footers
          $('.message-footer').addClass('hide');
          //now show the alternative footer
          $('.message-footer-style2').removeClass('hide');
          
          
          //move .message-content next to .message-list and hide .message-list
          $('.message-content').removeClass('hide').insertAfter(message_list.addClass('hide'));
    
          //add scrollbars to .message-body
          $('.message-content .message-body').ace_scroll({
            size: 150,
            mouseWheelLock: true,
            styleClass: 'scroll-visible'
          });
    
        }, 500 + parseInt(Math.random() * 500));
      });
    
    
      //display second message right inside the message list
      $('.message-list .message-item:eq(1) .text').on('click', function(){
        var message = $(this).closest('.message-item');
    
        //if message is open, then close it
        if(message.hasClass('message-inline-open')) {
          message.removeClass('message-inline-open').find('.message-content').remove();
          return;
        }
    
        $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
        setTimeout(function() {
          $('.message-container').find('.message-loading-overlay').remove();
          message
            .addClass('message-inline-open')
            .append('<div class="message-content" />')
          var content = message.find('.message-content:last').html( $('#id-message-content').html() );
    
          //remove scrollbar elements
          content.find('.scroll-track').remove();
          content.find('.scroll-content').children().unwrap();
          
          content.find('.message-body').ace_scroll({
            size: 150,
            mouseWheelLock: true,
            styleClass: 'scroll-visible'
          });
      
        }, 500 + parseInt(Math.random() * 500));
        
      });
    
    
    
      //back to message list
      $('.btn-back-message-list').on('click', function(e) {
        
        e.preventDefault();
        $('#inbox-tabs a[href="#inbox"]').tab('show');
      });
    
    
    
      //hide message list and display new message form
      /**
      $('.btn-new-mail').on('click', function(e){
        e.preventDefault();
        Inbox.show_form();
      });
      */
    
    
    
    
      var Inbox = {
        //displays a toolbar according to the number of selected messages
        display_bar : function (count) {
          if(count == 0) {
            $('#id-toggle-all').removeAttr('checked');
            $('#id-message-list-navbar .message-toolbar').addClass('hide');
            $('#id-message-list-navbar .message-infobar').removeClass('hide');
          }
          else {
            $('#id-message-list-navbar .message-infobar').addClass('hide');
            $('#id-message-list-navbar .message-toolbar').removeClass('hide');
          }
        }
        ,
        select_all : function() {
          var count = 0;
          $('.message-item input[type=checkbox]').each(function(){
            this.checked = true;
            $(this).closest('.message-item').addClass('selected');
            count++;
          });
          
          $('#id-toggle-all').get(0).checked = true;
          
          Inbox.display_bar(count);
        }
        ,
        select_none : function() {
          $('.message-item input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
          $('#id-toggle-all').get(0).checked = false;
          
          Inbox.display_bar(0);
        }
        ,
        select_read : function() {
          $('.message-unread input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
          
          var count = 0;
          $('.message-item:not(.message-unread) input[type=checkbox]').each(function(){
            this.checked = true;
            $(this).closest('.message-item').addClass('selected');
            count++;
          });
          Inbox.display_bar(count);
        }
        ,
        select_unread : function() {
          $('.message-item:not(.message-unread) input[type=checkbox]').removeAttr('checked').closest('.message-item').removeClass('selected');
          
          var count = 0;
          $('.message-unread input[type=checkbox]').each(function(){
            this.checked = true;
            $(this).closest('.message-item').addClass('selected');
            count++;
          });
          
          Inbox.display_bar(count);
        }
      }
    
      //show message list (back from writing mail or reading a message)
      Inbox.show_list = function() {
        $('.message-navbar').addClass('hide');
        $('#id-message-list-navbar').removeClass('hide');
    
        $('.message-footer').addClass('hide');
        $('.message-footer:not(.message-footer-style2)').removeClass('hide');
    
        $('.message-list').removeClass('hide').next().addClass('hide');
        //hide the message item / new message window and go back to list
      }
    
      //show write mail form
      Inbox.show_form = function() {
        if($('.message-form').is(':visible')) return;
        if(!form_initialized) {
          initialize_form();
        }
        
        
        var message = $('.message-list');
        $('.message-container').append('<div class="message-loading-overlay"><i class="fa-spin ace-icon fa fa-spinner orange2 bigger-160"></i></div>');
        
        setTimeout(function() {
          message.next().addClass('hide');
          
          $('.message-container').find('.message-loading-overlay').remove();
          
          $('.message-list').addClass('hide');
          $('.message-footer').addClass('hide');
          $('.message-form').removeClass('hide').insertAfter('.message-list');
          
          $('.message-navbar').addClass('hide');
          $('#id-message-new-navbar').removeClass('hide');
          
          
          //reset form??
          $('.message-form .wysiwyg-editor').empty();
        
          $('.message-form .ace-file-input').closest('.file-input-container:not(:first-child)').remove();
          $('.message-form input[type=file]').ace_file_input('reset_input');
          
          $('.message-form').get(0).reset();
          
        }, 300 + parseInt(Math.random() * 300));
      }
    
    
    
    
      var form_initialized = false;
      function initialize_form() {
        if(form_initialized) return;
        form_initialized = true;
        
        //intialize wysiwyg editor
        $('.message-form .wysiwyg-editor').ace_wysiwyg({
          toolbar:
          [
            'bold',
            'italic',
            'strikethrough',
            'underline',
            null,
            'justifyleft',
            'justifycenter',
            'justifyright',
            null,
            'createLink',
            'unlink',
            null,
            'undo',
            'redo'
          ]
        }).prev().addClass('wysiwyg-style1');
    
    
    
        //file input
        $('.message-form input[type=file]').ace_file_input()
        .closest('.ace-file-input')
        .addClass('width-90 inline')
        .wrap('<div class="form-group file-input-container"><div class="col-sm-7"></div></div>');
    
        //Add Attachment
        //the button to add a new file input
        $('#id-add-attachment')
        .on('click', function(){
          var file = $('<input type="file" name="attachment[]" />').appendTo('#form-attachments');
          file.ace_file_input();
          
          file.closest('.ace-file-input')
          .addClass('width-90 inline')
          .wrap('<div class="form-group file-input-container"><div class="col-sm-7"></div></div>')
          .parent().append('<div class="action-buttons pull-right col-xs-1">\
            <a href="#" data-action="delete" class="middle">\
              <i class="ace-icon fa fa-trash-o red bigger-130 middle"></i>\
            </a>\
          </div>')
          .find('a[data-action=delete]').on('click', function(e){
            //the button that removes the newly inserted file input
            e.preventDefault();
            $(this).closest('.file-input-container').hide(300, function(){ $(this).remove() });
          });
        });
      }//initialize_form
    
      //turn the recipient field into a tag input field!
      /**	
      var tag_input = $('#form-field-recipient');
      try { 
        tag_input.tag({placeholder:tag_input.attr('placeholder')});
      } catch(e) {}
    
    
      //and add form reset functionality
      $('#id-message-form').on('reset', function(){
        $('.message-form .message-body').empty();
        
        $('.message-form .ace-file-input:not(:first-child)').remove();
        $('.message-form input[type=file]').ace_file_input('reset_input_ui');
    
        var val = tag_input.data('value');
        tag_input.parent().find('.tag').remove();
        $(val.split(',')).each(function(k,v){
          tag_input.before('<span class="tag">'+v+'<button class="close" type="button">&times;</button></span>');
        });
      });
      */
    
    });
block content
  .row
    .col-xs-12
    // #section:pages/inbox
    .tabbable
      ul#inbox-tabs.inbox-tabs.nav.nav-tabs.padding-16.tab-size-bigger.tab-space-1
        // #section:pages/inbox.compose-btn
        li.li-new-mail.pull-right
          a.btn-new-mail(data-toggle="tab", href="#write", data-target="write")
            span.btn.btn-purple.no-border
              i.ace-icon.fa.fa-envelope.bigger-130
              span.bigger-110 Write Mail
        // /.li-new-mail
        // /section:pages/inbox.compose-btn
        li.active
          a(data-toggle="tab", href="#inbox", data-target="inbox")
            i.blue.ace-icon.fa.fa-inbox.bigger-130
            span.bigger-110 Inbox
        li
          a(data-toggle="tab", href="#sent", data-target="sent")
            i.orange.ace-icon.fa.fa-location-arrow.bigger-130
            span.bigger-110 Sent
        li
          a(data-toggle="tab", href="#draft", data-target="draft")
            i.green.ace-icon.fa.fa-pencil.bigger-130
            span.bigger-110 Draft
        li.dropdown
          a.dropdown-toggle(data-toggle="dropdown", href="#")
            i.pink.ace-icon.fa.fa-tags.bigger-130
            span.bigger-110
              | Tags
              i.ace-icon.fa.fa-caret-down
          ul.dropdown-menu.dropdown-light-blue.dropdown-125
            li
              a(data-toggle="tab", href="#tag-1")
                span.mail-tag.badge.badge-pink
                span.pink Tag#1
            li
              a(data-toggle="tab", href="#tag-family")
                span.mail-tag.badge.badge-success
                span.green Family
            li
              a(data-toggle="tab", href="#tag-friends")
                span.mail-tag.badge.badge-info
                span.blue Friends
            li
              a(data-toggle="tab", href="#tag-work")
                span.mail-tag.badge.badge-grey
                span.grey Work
        // /.dropdown
      .tab-content.no-border.no-padding
        #inbox.tab-pane.in.active
          .message-container
            // #section:pages/inbox.navbar
            #id-message-list-navbar.message-navbar.clearfix
              .message-bar
                #id-message-infobar.message-infobar
                  span.blue.bigger-150 Inbox
                  span.grey.bigger-110 (2 unread messages)
                .message-toolbar.hide
                  .inline.position-relative.align-left
                    button.btn-white.btn-primary.btn.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                      span.bigger-110 Action
                      i.ace-icon.fa.fa-caret-down.icon-on-right
                    ul.dropdown-menu.dropdown-lighter.dropdown-caret.dropdown-125
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-mail-reply.blue
                          | Reply
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-mail-forward.green
                          | Forward
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-folder-open.orange
                          | Archive
                      li.divider
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-eye.blue
                          | Mark as read
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-eye-slash.green
                          | Mark unread
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-flag-o.red
                          | Flag
                      li.divider
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-trash-o.red.bigger-110
                          | Delete
                  .inline.position-relative.align-left
                    button.btn-white.btn-primary.btn.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                      i.ace-icon.fa.fa-folder-o.bigger-110.blue
                      span.bigger-110 Move to
                      i.ace-icon.fa.fa-caret-down.icon-on-right
                    ul.dropdown-menu.dropdown-lighter.dropdown-caret.dropdown-125
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.pink2
                          | Tag#1
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.blue
                          | Family
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.green
                          | Friends
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.grey
                          | Work
                  button.btn.btn-xs.btn-white.btn-primary(type="button")
                    i.ace-icon.fa.fa-trash-o.bigger-125.orange
                    span.bigger-110 Delete
              div
                .messagebar-item-left
                  label.inline.middle
                    input#id-toggle-all.ace(type="checkbox")
                    span.lbl
                  .inline.position-relative
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                      i.ace-icon.fa.fa-caret-down.bigger-125.middle
                    ul.dropdown-menu.dropdown-lighter.dropdown-100
                      li
                        a#id-select-message-all(href="#") All
                      li
                        a#id-select-message-none(href="#") None
                      li.divider
                      li
                        a#id-select-message-unread(href="#") Unread
                      li
                        a#id-select-message-read(href="#") Read
                .messagebar-item-right
                  .inline.position-relative
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                      | Sort
                      i.ace-icon.fa.fa-caret-down.bigger-125
                    ul.dropdown-menu.dropdown-lighter.dropdown-menu-right.dropdown-100
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-check.green
                          | Date
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-check.invisible
                          | From
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-check.invisible
                          | Subject
                // #section:pages/inbox.navbar-search
                .nav-search.minimized
                  form.form-search
                    span.input-icon
                      input.input-small.nav-search-input(type="text", autocomplete="off", placeholder="Search inbox ...")
                      i.ace-icon.fa.fa-search.nav-search-icon
                // /section:pages/inbox.navbar-search
            #id-message-item-navbar.hide.message-navbar.clearfix
              .message-bar
                .message-toolbar
                  .inline.position-relative.align-left
                    button.btn-white.btn-primary.btn.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                      span.bigger-110 Action
                      i.ace-icon.fa.fa-caret-down.icon-on-right
                    ul.dropdown-menu.dropdown-lighter.dropdown-caret.dropdown-125
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-mail-reply.blue
                          | Reply
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-mail-forward.green
                          | Forward
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-folder-open.orange
                          | Archive
                      li.divider
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-eye.blue
                          | Mark as read
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-eye-slash.green
                          | Mark unread
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-flag-o.red
                          | Flag
                      li.divider
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-trash-o.red.bigger-110
                          | Delete
                  .inline.position-relative.align-left
                    button.btn-white.btn-primary.btn.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                      i.ace-icon.fa.fa-folder-o.bigger-110.blue
                      span.bigger-110 Move to
                      i.ace-icon.fa.fa-caret-down.icon-on-right
                    ul.dropdown-menu.dropdown-lighter.dropdown-caret.dropdown-125
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.pink2
                          | Tag#1
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.blue
                          | Family
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.green
                          | Friends
                      li
                        a(href="#")
                          i.ace-icon.fa.fa-stop.grey
                          | Work
                  button.btn.btn-xs.btn-white.btn-primary(type="button")
                    i.ace-icon.fa.fa-trash-o.bigger-125.orange
                    span.bigger-110 Delete
              div
                .messagebar-item-left
                  a.btn-back-message-list(href="#")
                    i.ace-icon.fa.fa-arrow-left.blue.bigger-110.middle
                    b.bigger-110.middle Back
                .messagebar-item-right
                  i.ace-icon.fa.fa-clock-o.bigger-110.orange
                  span.grey Today, 7:15 pm
            #id-message-new-navbar.hide.message-navbar.clearfix
              .message-bar
                .message-toolbar
                  button.btn.btn-xs.btn-white.btn-primary(type="button")
                    i.ace-icon.fa.fa-floppy-o.bigger-125
                    span.bigger-110 Save Draft
                  button.btn.btn-xs.btn-white.btn-primary(type="button")
                    i.ace-icon.fa.fa-times.bigger-125.orange2
                    span.bigger-110 Discard
              div
                .messagebar-item-left
                  a.btn-back-message-list(href="#")
                    i.ace-icon.fa.fa-arrow-left.bigger-110.middle.blue
                    b.middle.bigger-110 Back
                .messagebar-item-right
                  span.inline.btn-send-message
                    button.btn.btn-sm.btn-primary.no-border.btn-white.btn-round(type="button")
                      span.bigger-110 Send
                      i.ace-icon.fa.fa-arrow-right.icon-on-right
            // /section:pages/inbox.navbar
            .message-list-container
              // #section:pages/inbox.message-list
              #message-list.message-list
                // #section:pages/inbox.message-list.item
                .message-item.message-unread
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star.orange2
                  span.sender(title="Alex John Red Smith") Alex John Red Smith 
                  span.time 1:33 pm
                  span.summary
                    span.text
                      | Click to open this message
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item.message-unread
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="John Doe")
                    | John Doe
                    span.light-grey (4)
                  span.time 7:15 pm
                  span.attachment
                    i.ace-icon.fa.fa-paperclip
                  span.summary
                    span.badge.badge-pink.mail-tag
                    span.text
                      | Clik to open this message right here
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Philip Markov") Philip Markov 
                  span.time 10:15 am
                  span.attachment
                    i.ace-icon.fa.fa-paperclip
                  span.summary
                    span.message-flags
                      i.ace-icon.fa.fa-reply.light-grey
                    span.text
                      | Photo booth beard raw denim letterpress vegan
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star.orange2
                  span.sender(title="Sabrina") Sabrina 
                  span.time Yesterday
                  span.summary
                    span.text
                      | Nullam quis risus eget urna mollis ornare
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Philip Markov") Philip Markov 
                  span.time Yesterday
                  span.attachment
                    i.ace-icon.fa.fa-paperclip
                  span.summary
                    span.badge.badge-success.mail-tag
                    span.text
                      | Vestibulum id ligula porta felis euismod
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Doctor Gomenz") Doctor Gomenz 
                  span.time April 5
                  span.summary
                    span.text
                      | Vim te vivendo convenire, summo fuisset
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Robin Hood") Robin Hood 
                  span.time April 4
                  span.summary
                    span.message-flags
                      i.ace-icon.fa.fa-reply.light-grey
                    span.text
                      | No eos veniam equidem mentitum, his porro
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Google Inc") Google Inc 
                  span.time April 3
                  span.summary
                    span.badge.badge-grey.mail-tag
                    span.text
                      | Convallis facilisis euismod urna sodales
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Shrek") Shrek 
                  span.time March 28
                  span.attachment
                    i.ace-icon.fa.fa-paperclip
                  span.summary
                    span.message-flags
                      i.ace-icon.fa.fa-flag.fa-flip-horizontal.light-grey
                    span.text
                      | Photo booth beard raw denim letterpress vegan messenger
                // /section:pages/inbox.message-list.item
                // #section:pages/inbox.message-list.item
                .message-item
                  label.inline
                    input.ace(type="checkbox")
                    span.lbl
                  i.message-star.ace-icon.fa.fa-star-o.light-grey
                  span.sender(title="Yahoo!") Yahoo! 
                  span.time March 27
                  span.summary
                    span.message-flags
                      i.ace-icon.fa.fa-mail-forward.light-grey
                    span.text
                      | Tofu biodiesel williamsburg marfa, four loko mcsweeney
                // /section:pages/inbox.message-list.item
              // /section:pages/inbox.message-list
            // #section:pages/inbox.message-footer
            .message-footer.clearfix
              .pull-left  151 messages total 
              .pull-right
                .inline.middle  page 1 of 16 
                ul.pagination.middle
                  li.disabled
                    span
                      i.ace-icon.fa.fa-step-backward.middle
                  li.disabled
                    span
                      i.ace-icon.fa.fa-caret-left.bigger-140.middle
                  li
                    span
                      input(type="text", value="1", maxlength="3")
                  li
                    a(href="#")
                      i.ace-icon.fa.fa-caret-right.bigger-140.middle
                  li
                    a(href="#")
                      i.ace-icon.fa.fa-step-forward.middle
            .hide.message-footer.message-footer-style2.clearfix
              .pull-left  simpler footer 
              .pull-right
                .inline.middle  message 1 of 151 
                ul.pagination.middle
                  li.disabled
                    span
                      i.ace-icon.fa.fa-angle-left.bigger-150
                  li
                    a(href="#")
                      i.ace-icon.fa.fa-angle-right.bigger-150
            // /section:pages/inbox.message-footer
      // /.tab-content
    // /.tabbable
    // /section:pages/inbox
  // /.col
  
  form#id-message-form.hide.form-horizontal.message-form.col-xs-12
    // #section:pages/inbox.compose
    div
      .form-group
        label.col-sm-3.control-label.no-padding-right(for="form-field-recipient") Recipient:
        .col-sm-9
          span.input-icon
            input#form-field-recipient(type="email", name="recipient", data-value="alex@doe.com", value="alex@doe.com", placeholder="Recipient(s)")
            i.ace-icon.fa.fa-user
      .hr.hr-18.dotted
      .form-group
        label.col-sm-3.control-label.no-padding-right(for="form-field-subject") Subject:
        .col-sm-6.col-xs-12
          .input-icon.block.col-xs-12.no-padding
            input#form-field-subject.col-xs-12(type="text", maxlength="100", name="subject", placeholder="Subject")
            i.ace-icon.fa.fa-comment-o
      .hr.hr-18.dotted
      .form-group
        label.col-sm-3.control-label.no-padding-right
          span.inline.space-24.hidden-480
          | Message:
        // #section:plugins/editor.wysiwyg
        .col-sm-9
          .wysiwyg-editor
        // /section:plugins/editor.wysiwyg
      .hr.hr-18.dotted
      .form-group.no-margin-bottom
        label.col-sm-3.control-label.no-padding-right Attachments:
        .col-sm-9
          #form-attachments
            // #section:custom/file-input
            input(type="file", name="attachment[]")
            // /section:custom/file-input
      .align-right
        button#id-add-attachment.btn.btn-sm.btn-danger(type="button")
          i.ace-icon.fa.fa-paperclip.bigger-140
          | Add Attachment
      .space
    // /section:pages/inbox.compose
  #id-message-content.hide.message-content
    // #section:pages/inbox.message-header
    .message-header.clearfix
      .pull-left
        span.blue.bigger-125  Clik to open this message 
        .space-4
        i.ace-icon.fa.fa-star.orange2
        img.middle(alt="John's Avatar", src="../assets/avatars/avatar.png", width="32")
        a.sender(href="#") John Doe
        i.ace-icon.fa.fa-clock-o.bigger-110.orange.middle
        span.time.grey Today, 7:15 pm
      .pull-right.action-buttons
        a(href="#")
          i.ace-icon.fa.fa-reply.green.icon-only.bigger-130
        a(href="#")
          i.ace-icon.fa.fa-mail-forward.blue.icon-only.bigger-130
        a(href="#")
          i.ace-icon.fa.fa-trash-o.red.icon-only.bigger-130
    // /section:pages/inbox.message-header
    .hr.hr-double
    // #section:pages/inbox.message-body
    .message-body
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      p
        | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    // /section:pages/inbox.message-body
    .hr.hr-double
    // #section:pages/inbox.message-attachment
    .message-attachment.clearfix
      .attachment-title
        span.blue.bolder.bigger-110 Attachments
        span.grey (2 files, 4.5 MB)
        .inline.position-relative
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.ace-icon.fa.fa-caret-down.bigger-125.middle
          ul.dropdown-menu.dropdown-lighter
            li
              a(href="#") Download all as zip
            li
              a(href="#") Display in slideshow
      ul.attachment-list.pull-left.list-unstyled
        li
          a.attached-file(href="#")
            i.ace-icon.fa.fa-file-o.bigger-110
            span.attached-name Document1.pdf
          span.action-buttons
            a(href="#")
              i.ace-icon.fa.fa-download.bigger-125.blue
            a(href="#")
              i.ace-icon.fa.fa-trash-o.bigger-125.red
          li
            a.attached-file(href="#")
              i.ace-icon.fa.fa-film.bigger-110
              span.attached-name Sample.mp4
            span.action-buttons
              a(href="#")
                i.ace-icon.fa.fa-download.bigger-125.blue
              a(href="#")
                i.ace-icon.fa.fa-trash-o.bigger-125.red
        .attachment-images.pull-right
          .vspace-4-sm
          div
            img(width="36", alt="image 4", src="../assets/images/gallery/thumb-4.jpg")
            img(width="36", alt="image 3", src="../assets/images/gallery/thumb-3.jpg")
            img(width="36", alt="image 2", src="../assets/images/gallery/thumb-2.jpg")
            img(width="36", alt="image 1", src="../assets/images/gallery/thumb-1.jpg")
      // /section:pages/inbox.message-attachment
    // /.message-content
