extends ./layouts/default
append pagespecificstyles
  //- page specific styles
block doctors
block sidebar
block topbar
  include ./partials/topbar
append scripts
  //- page specific scripts

block content
    
