#ace-settings-container.ace-settings-container
  #ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
    i.ace-icon.fa.fa-user-md.bigger-130
  #ace-settings-box.ace-settings-box.clearfix
    .widget-box.transparent
      .widget-header
        h4.widget-title.lighter
          //- i.fa.fa-empire
          |&nbsp;Doctors
        .widget-toolbar.no-border
          //- a(href="#", data-action="reload")
          //-   i.ace-icon.fa.fa-refresh
      .widget-body
        .widget-main.padding-4.no-padding-right.scrollable(data-size='200')
          .profile-user-info
            .profile-info-row
              .profile-info-name
                .fa.fa-forumbee.green
                a.undecorated.title-case(href='#')&nbsp;&nbsp;james tom cavantani
              .profile-info-value Southampton Medical Center, USA
            .profile-info-row
              .profile-info-name
                .fa.fa-circle-o-notch.darkgray
                a.undecorated.title-case(href='#')&nbsp;&nbsp;james tom cavantani
              .profile-info-value Southampton Medical Center, USA
          .center
            a.btn.btn-sm.btn-primary.btn-white.btn-round(href='/doctors')
              //- i.ace-icon.fa.fa-search.bigger-150.middle.orange2
              span.bigger-110 View all Doctors&nbsp;
              i.icon-on-right.ace-icon.fa.fa-search.bigger-150.middle
