.footer-content
  span.bigger-120
    span.blue.bolder Project&nbsp;
    Application &copy; 2015
  |&nbsp; &nbsp;
  span.action-buttons
    a(href='#')
      i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
    a(href='#')
      i.ace-icon.fa.fa-facebook-square.text-primary.bigger-150
    a(href='#')
      i.ace-icon.fa.fa-rss-square.orange.bigger-150
// /section:basics/footer
