#navbar.navbar.navbar-default.navbar-collapse
  script(type='text/javascript').
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
  #navbar-container.navbar-container
    // #section:basics/sidebar.mobile.toggle
    span#menu-toggler
    // /section:basics/sidebar.mobile.toggle
    .navbar-header.pull-left
      // #section:basics/navbar.layout.brand
      a.navbar-brand(href='#')
        small
          i.fa.fa-stethoscope
          | &nbsp;#{siteTitle}
      // /section:basics/navbar.layout.brand
      // #section:basics/navbar.toggle
      // /section:basics/navbar.toggle
    // #section:basics/navbar.dropdown
    .navbar-buttons.navbar-header.pull-right.collapse.navbar-collapse(role='navigation')
      ul.nav.ace-nav
        li.transparent
        li.light-orange
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            #time
              span
                i.ace-icon.fa.fa-clock-o
                |&nbsp;
              span#day
              |&nbsp;
              span#hours
              |:
              span#min
              |:
              span#sec
              |&nbsp;
              span#ampm
        // #section:basics/navbar.user_menu
        li.light-blue
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            img.nav-user-photo(src= Boolean(session.userPicture) ? session.userPicture : '/assets/avatars/avatar2.png', id="profile-foto", alt="#{session.username}'s Photo")
            span.user-info
              small Welcome,
              | #{session.username}
            i.ace-icon.fa.fa-caret-down
          ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
            //- li
            //-   a(href='/user/settings')
            //-     i.ace-icon.fa.fa-cog
            //-     |Settings
            li
              a(href='/user/profile')
                i.ace-icon.fa.fa-user
                |Profile
            li.divider
            li
              a(href='/auth/logout')
                i.ace-icon.fa.fa-power-off
                |Logout
        // /section:basics/navbar.user_menu
    // /section:basics/navbar.dropdown
  // /.navbar-container
// /section:basics/navbar.layout
